# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS files
.DS_Store
Thumbs.db

# Agent files
.agents/
.gemini/
.antigravityignore

# Assets/Temp
screen.png
code.html
